<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="../css/common.css" rel="stylesheet">

<html>
<head>
    <script>
      window.nodeRequire = require;
      delete window.require;
      delete window.exports;
      delete window.module;
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <meta charset="UTF-8">
    <title>FFXIV Auto Clipper</title>
</head>
<body>

<div class="container-fluid pt-3 pb-3">
    <h1>Settings</h1>
    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>log file</span>
        </div>
        <div class="col-9">
            <button id="input-select-log-file" type="button" class="btn btn-primary my-btn text-align-left">
                click here to choose log file
            </button>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>discord bot</span>
        </div>
        <div class="col-9">
            <button id="invite-discord-bot" type="button" class="btn btn-primary my-btn text-align-left">
                click here to invite discord bot into your server
            </button>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>discord channel id</span>
        </div>
        <div class="col-9">
            <input type="tel" id="input-discrod-channel-id" class="form-control full-size" value="">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            clip trigger regexp
        </div>
        <div class="col-9">
            <input type="text" id="input-trigger-regexp" class="form-control full-size" value="^03\|.*タイタン\|">
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            clip cool time(msec)
        </div>
        <div class="col-9">
            <input type="text" id="input-clip-cool-time" class="form-control full-size" value="30000">
        </div>
    </div>

    <h1 class="pt-4">Status</h1>
    <div class="row">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>twitch account</span>
        </div>
        <div class="col-9 vertical-center-text">
            <span id="twitch-account-status-text"><i class="fas fa-exclamation-circle"></i> allow this app to connect your twitch account</span>
        </div>
    </div>


    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>latest log</span>
        </div>
        <div class="col-9 vertical-center-text">
            <span id="latest-log-line"><i class="fas fa-exclamation-circle"></i> choose latest log file then do something in game</span>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>discord</span>
        </div>
        <div class="col-9 vertical-center-text">
            <span id="target-discord-channel-text"><i class="fas fa-exclamation-circle"></i> enter your discord channel id</span>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-3 vertical-center-text horizontal-center-text">
            <span>create clip is </span>
        </div>
        <div class="col-9">
            <span id="is-create-clip-ready-text"><i class="fas fa-exclamation-circle"></i> ???</span>
        </div>
    </div>

    <h1 class="pt-4">Test</h1>
    <div class="row">
        <div class="col-12">
            <button id="create-clip-and-discord-bot-test" type="button" class="btn btn-twitch my-btn text-align-left">
                click me after turn on your stream<br>(create clip & send message to your discord channel test)
            </button>
        </div>
    </div>

    <div class="created-by">
        Created by <a id="created-by-text" href="">@Yukapero</a>
    </div>
</div>

</body>

<script src="../render_script/compressed/index.min.js"></script>
</html>
