body {
    word-wrap: break-word;
}

h1 {
    font-size: 2rem;
}

.my-btn {
    width: 100%;
    height: 100%;
    text-align: left;
}

/*.text-align-left {*/
/*    */
/*}*/

.vertical-center-text {
    align-self: center;
}

.horizontal-center-text {
    text-align: center;
}

.full-size {
    height: 100%;
    width: 100%;
}

.btn-twitch {
    color: white;
    background-color: rebeccapurple;
}

.btn-twitch:hover {
    color: white;
    background-color: purple;
}

.fa-exclamation-circle {
    color: red;
}

.created-by {
    padding-top: 1rem;
    text-align: right;
}
