body {
    word-wrap: break-word;
}

.my-btn {
    width: 100%;
    height: 100%;
    text-align: left;
}

/*.text-align-left {*/
/*    */
/*}*/

.vertical-center-text {
    align-self: center;
}

.horizontal-center-text {
    text-align: center;
}

.full-size {
    height: 100%;
    width: 100%;
}
